* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

.__tabb_root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 0 40px;
}

/* Title 'Tabb'  */
.__tabb_root header {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.__tabb_root .__tabb_sec {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
}

/* 侧边栏 */
.__tabb_sec > .__tabb_sidebar {
  min-width: 200px;
  padding: 14px 24px;
}

.__tabb_sidebar > ul {
  overflow: auto;
}

.__tabb_sidebar .__tabb_menu_item {
  list-style: none;
  padding: 8px 16px;
  cursor: pointer;
}

.__tabb_sidebar .__tabb_menu_item + .__tabb_menu_item {
  margin-top: 8px;
}

.__tabb_sidebar .__tabb_menu_item:hover,
.__tabb_sidebar .__tabb_menu_item.active {
  background-color: #cdcdcd;
}

/* 布局模式选项 */
.__tabb_sec > .__tabb_layout_options {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 14px;
  background-color: #fff;
  box-shadow: 2px 2px 4px #cdcdcd;
}

.__tabb_layout_options > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.__tabb_layout_options > div:hover,
.__tabb_layout_options > div.active {
  background-color: #e3e3e3;
}

/* 主页面 */
.__tabb_sec > .__tabb_pages {
  flex: 1;
  padding-bottom: 40px;
  overflow: auto;
}

#pages {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* group */
.group {
}

.group + .group {
  margin-top: 24px;
}

.group-info {
  display: flex;
  align-items: center;
  gap: 30px;
}

.group-info .title,
.group-info .page-count {
  font-size: 1.2em;
}

.group-info .page-count {
}

.group-info .detail {
}

.group-info .create-time {
  font-size: 0.7em;
  color: #888888;
}

.group-info .actions {
  display: flex;
  gap: 24px;
}

.group-info .actions div {
  font-size: 0.8em;
  color: #234da7;
  cursor: pointer;
}

.group-info .actions div.disabled {
  color: #999999;
}

/* page */
.page {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  cursor: pointer;
}

.page:hover {
  background-color: rgb(225, 225, 225);
}

.page img {
  width: 16px;
  height: 16px;
  margin-right: 12px;
}

.page span {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

.page + .page {
  border-top: 1px solid #e4e4e4;
}

.template {
  display: none;
}
